.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--bezier-effect);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: 0;
    opacity: 0;
    transition: opacity var(--bezier-effect);
  }

  &.current::after {
    opacity: 1;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--bezier-effect);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

// .contacts__icon:hover,
// .contacts__icon:focus {
//   fill: var(--accent-color);
// }
